.DS_Store*
wp-content/db.php
wp-content/uploads/
wp-content/cache/
wp-content/w3tc-config/
wp-content/object-cache.php
wp-config.php
wp-content/wflogs/ 
wp-content/uploads/
wp-content/languages/wpml/
wp-content/w3tc-config/
wp-content/w3tc-config/master.php
wp-content/advanced-cache.php

script/temp/*
scripts/temp/*

data/
logs/
.settings/



.project
config.py
.htaccess
*.pyc
!tests/*.py
.sass-cache/
.sass-cache
key-*
*_config.py
*_fab.py
*.css.map
package.json
backup
*.sublime-workspace
