// .bloc_rubrique{
	.post{
		margin-top: 10px;
		margin-bottom: 20px;
		&.col-sm-6{
			&:nth-child(2n+1){
				clear: both;
			}
		}
		// .post_img
		&_img {
			position: relative;
			img{
				width: 100%;
				max-height: 175px;
				&.lazy-loaded{
					max-height: none;
				}
			}
		}
		.info_cat{
			position: absolute;
			bottom: 0;
			left: 50%;
			@include translate(-50%, 0);
		}
		// .post_caption
		&_caption {
			text-align: center;
		}
		// .post_title
		&_title {
			margin-top: 15px;
			margin-bottom: 0;
			&, a{
				font-family: $main-font-bold;
				font-size: 20px;
				color: $main_color;
				line-height: 1em;
				&:hover{
					color: $main-color;
				}
			}
		}
		// .post_excerpt
		&_excerpt {
			margin-top: 5px;
			font-family: $main-font;
			font-size: 12px;
		}
	}
	.btn-lire-plus{
		background-color: #E4E4E7;
		color: #565755;
		font-size: 18px;
		margin-bottom: 10px;
		&:hover{
			background-color: #000;
		}
	}
// }