#blockRight{
	background-color: #ffffff;
	position: relative;
	float: right;
	&, aside{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	aside{
		margin-bottom: 60px;
	}
	.reseaux-sociaux{
		margin-bottom: 0;
		li{
			display: block;
			text-align: center;
		}
		//.reseaux-sociaux-btn
		&-btn{
			display: inline-block;
			width: 100%;
			height: 50px;
			color:#FFF;
			background-repeat: no-repeat;
			font-size: 19px;
			@include commuters-sans-bold;
			margin-bottom: 5px;
			text-transform: uppercase;
			>span{
				display: inline-block;
				line-height: 2.5em;
				background-repeat: no-repeat;
				background-position: 0 center;
			}
			&.facebook{
				background-color: #000;
				>span {
					padding-left: 20px;
					background-image: url("../images-v3/fb-icon.png");
				}
			}
			&.instagram{
				background-color: #EBE7E6;
				color: #000;
				>span {
					padding-left: 20px;
					background-image: url("../images-v3/instagram-icon-black.png");
				}
			}
			&.twitter{
				background-color: #000;
				>span {
					padding-left: 20px;
					background-image: url("../images-v3/twitter-icon.png");
				}
			}
			&.linkedin{
				background-color: #EBE7E6;
				color: #000;
				>span {
					padding-left: 20px;
					background-image: url("../images-v3/linkedin-icon-black.png");
				}
			}
			
		}
	}
	.btn-primary {
		width: 100%;
	}
}

.widget-area{
	hr {
		display: block;
		width: 100%;
		border-top: 1px solid $pms_grey_color;
		color: $pms_grey_color;
		margin: 13px 0;
	}
	.widget-title{
		@include commuters-sans-extrabold;
		text-align: center;
		display: block;
		width: 100%;
		position: relative;
		color: $main-color;
		font-size: 25px;
		padding: 0;
		line-height: 1em;
		text-transform: uppercase;
		margin-bottom: 60px;
		a{
			color: $main-color;
		}
		
	}
	.textwidget{
		h4{
			@include commuters-sans-regular;
			margin-top: -48px;
			text-align: center;

		}	
		a {
			text-decoration: underline;
			text-decoration-color: black;
		}		
	
		.navbar-sociallink{
			li{
				position: relative;
				height: 40px;
				width: 40px;
				&:hover{
					background-color:$pms_green_color_hover;
					border-radius: 50%;
				}
				a{
					height: 100%;
					width: 100%;
					padding: 0;
					display: flex;
					align-items: center;
					text-align: center;
					text-decoration: none;
					i{
						margin-left: auto;
						margin-right: auto;
						font-size: 20px;
					}
				}
			}
		}
		
	}
	aside{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.most_popular {
		padding: 0;
		list-style: none;
		img.wp-post-image{
			height: 94px ;
			width: 94px ;
			object-fit: cover;
		}

		.info_cat {
			@include commuters-sans-bold();
			font-size: 13px;
			text-align: left;
			display: inline-block;
			background-color:transparent;
			color: $main_color ;
			text-transform: uppercase;
			padding: 2px 4px 0px 4px;
			vertical-align: middle;
			margin-top: 6px;
		}
		.title-item-small {
			@include commuters-sans-regular();
			margin-top: 5px;
			font-size: 12px;
			display: block;
		}
		.thumbnail-item {
			&:last-child {
				margin-bottom: 0;
			}
			.media {
				display: flex;
				align-items: flex-start;
				&-left{
					display: flex;
					align-items: center;
					justify-content: center;

					i{
						position: absolute;
						font-size: 42px;
						color: #ccc;
						opacity: 0.7;
					}
					
				}
				&-body {
					display: block;
					text-align: left;
					flex-direction: column-reverse;
					margin-top: 6px;
					a{
						display: block;
						color: $main-color;
					}
					.title-item-small {
						display: inline-block;
						@include commuters-sans-regular();
						font-size: 16px;
						line-height: 15px;
						margin-top: 8px;
					}
					.detail_info {
						.info_author {
							font-family: $main_font;
							font-size: 10px;
							text-transform: uppercase;
							color: white;
							margin-top: 3px;
						}
					}
				}
			}
			&:hover{
				background-color: $pms_navbar_grey_color;
				i{
					color: #fff;
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-md-min){

	.widget-area {
		.widget-title{
			font-size: 16pt;
		}
		.textwidget{
			.img-responsive{
				margin-left: auto;
				margin-right: auto;
			}
		}        
		.most_popular {
			.info_cat{
				font-size: 10pt;
			}
			.thumbnail-item {

				.media-body {
					.title-item-small  {
						font-size: 10pt;
					}
				}
			}
		}
	}
}




@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#blockRight{
		width: 300px;
	}

}

@media screen and (max-width: 768px) {
	#blockRight{
		margin-top: 60px;
		padding: 0 25px;
	}
}

.navbar-sociallink{
	display: flex;
	justify-content: space-around;
	ul{
		overflow:hidden;
		li{
			display:inline-block;
		}		
	}	
}

.nl_sidebar {
	&_container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
		margin-bottom: 60px;
	}
	&_wrapper {
		text-align: center;
		@include commuters-sans-regular;
	}
	&_text {
		@include commuters-sans-regular;
		margin-top: 20px;
		font-size: 10pt;
		a{
			color: #000;
			text-decoration: underline;
		}
	}
	&_form {
		position: relative;
		margin: 0 auto;
		padding: 0;
		height: 46px;
		max-width: 500px;
		border-radius: 90px;
		overflow: hidden;
		border: 1px solid #000;
		background: #fff;
		input{
			@include commuters-sans-regular;
			height:100%;
			position: absolute;
			border: none;
			background:none;
			padding: 0;
			top: 0;
			color: #000;
			&[type="email"] {
				padding-left: 20px;
				left: 0;
				width: 70%;
				&:focus {
					outline: none !important;
				}
			}
			&[type="submit"] {
				@include commuters-sans-extrabold;
				right: 0;
				font-size: 15px;
				text-transform: uppercase;
				padding-right: 15px;
				padding-left: 15px;
				&:hover {
					background-color: $pms_green_color;
					border-radius: 30px;
				}
			}
		}
	}
}
