.sub-categories{
	font-size: 14px;
	@include commuters-sans-bold;
	text-transform: uppercase;
	margin-left: 0;
	margin-right: 0;
	line-height: 1.2;
	>li{
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 5px;
		a{
			color: #000;
		}
	}
	&-item{
		&:not(:last-child):after{
			content: "/";
			display: inline-block;
			margin-left: 8px;
			margin-right: 3px;
		}
	}
}