<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body link="#82BCFD" class="link">
    <DIV>
      <ul>
        <li><a href="Home.shtml">Miramodus </a></li>
        <li><a href="ourmodels.shtml">Our Models</a>
          <ul>
            <li><a href="range.shtml">Range</a></li>
            <li><a href="Examples.shtml">Examples</a>
              <ul>
                <li><a href="teaching_models.shtml">Teaching molecular models</a></li>
                <li><a href="Inorganic_structure_models.shtml">Inorganic structure models</a></li>
                <li><a href="Inorganic_molecular_models.shtml">Inorganic molecular models</a></li>
                <li><a href="Mineral_structure_models.shtml">Mineral structure models</a></li>
                <li><a href="organic_molecular models.shtml">Biological and Organic Molecular Models</a></li>
                <li><a href="maths.shtml">Mathematical models</a></li>
                <li><a href="crystallography_models.shtml">Crystallographic models</a></li>
                <li><a href="Protein_models.shtml">Protein molecular models</a></li>
              </ul>
            </li>
            <li><a href="Standard_colours.shtml">Colours</a></li>
            <li><a href="#">Colour selector</a>
              <li><a href="price_estimator.php">Price estimator</a>
          </ul>
          </li>
  
  
          <li><a href="Standard_models.shtml">Standard models</a>
            <ul>
              <li><a href="Alphabetic_index.shtml">Alphabetic list</a></li>
              <li><a href="Search_database.php">Search catalogue</a></li>
              <li><a href="Protein_models.shtml">Proteins</a></li>
            </ul>
          </li>
  
  
          <li><a href="Custom_built_molecular_models.shtml">Custom Builds</a>
            <ul>
              <li><a href="extra_features.shtml">Extra features</a></li>
              <li><a href="3d_printed.shtml">3d Printed Models</a></li>
              <li><a href="brass_molecular_models.shtml">Brass molecular models</a></li>
              <li><a href="Perspex_molecular_models.shtml">Perspex molecular models</a></li>
            </ul>
          </li>
  
  
          <li><a href="Giant_molecular_models.shtml">Giant Models</a>
            <ul>
              <li><a href="static_giant_molecular_models.shtml">Static models</a></li>
              <li><a href="Detachable_giant_molecular_models.shtml">Detachable models</a></li>
              <li><a href="#">Other large models</a></li>
            </ul>
          </li>
  
  
          <li><a class="contact" href="Contact_form.shtml">Contact Us</a>
            <ul>
              <li><a href="Contact_form.shtml">Contact form</a></li>
              <li><a href="Aboutus.shtml">About us</a></li>
              <li><a href="contact_information.shtml">Contact information</a></li>
              <li><a href="ordering.shtml">Ordering</a>
                <ul>
                  <li><a href="Order_form.shtml">Order form</a></li>
                  <li><a href="#">Pay online</a>
                    <li><a href="terms.shtml">Terms</a>
                </ul>
                </li>
            </ul>
            </li>
            </li>
      </ul>
    </div>
  
  </body>
  
  </html>
  